# Server Configuration
PORT=3000

# Database Configuration (MongoDB example)
# MONGODB_URI=mongodb://localhost:27017/fintech_db
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database_name>?retryWrites=true&w=majority


# External API Keys
OMNI_LIFE_API_URL=https://api.omnilife.com/v1/calculator # Replace with actual API base URL
OMNI_LIFE_API_KEY=your_omni_life_api_key_here

# Compliance / Logging
LOG_LEVEL=info
